/*div.output {
	width: 700px;
	height: 300px;
	overflow: auto;
	border: 2px solid black;
	margin: auto;
}*/

ul {
	list-style: none;
}

.nav-bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 10%;
	height: 100%;
	position: fixed;
	background-color: #f1f1f1;
	top: 0;
	left: 0;
}

.nav-bar li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #555;
    color: white;
}

.nav-bar .active {
    background-color: #4CAF50;
    color: white;
}

.fn-bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 10%;
	height: 100%;
	position: fixed;
	background-color: #ebedef;
	top: 0;
	left: 10%;
}

.fn-bar li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.fn-bar li a:hover {
    background-color: #555;
    color: white;
}

.fn-bar .active {
    background-color: #4CAF50;
    color: white;
}

.content-bar {
	margin-left: 20%;
	padding: 1px 16px;
}

.fn {
	display: none;
}



/*==================Phuong Style=========================*/
body{font-family:arial; font-size:14px; line-height:20px;}
td, th {
    border: 1px solid #cfd9e9;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

.form-control-feedback{position:relative;width: 100%; text-align:left;}

.has-danger .form-control {
    border-color: #ff5c6c;
}
.has-danger .col-form-label, .has-danger .custom-control, .has-danger .form-check-label, .has-danger .form-control-feedback, .has-danger .form-control-label {
    color: #ff5c6c;
}
.main-content{max-width:1170px;}


@media screen and (max-width: 1400px) {
	.main-content{max-width:960px;}
}
