<ul class="">
	<li class="menu-home"><a href="index.html"><span>Trang chủ</span></a></li>
	<li class="menu-cart"><a href="make-order.html"><span>Đơn hàng</span><i>3</i></a></li>
	<li class="menu-shiping"><a href="#"><span>Vận chuyển</span><i>9</i></a></li>
	<li class="menu-tag"><a href="list-product.html"><span>Sản phẩm</span><i>4</i></a></li>
	<li class="menu-user"><a href="#"><span>Khách hàng</span></a></li>
	<li class="menu-rss"><a href="#"><span>Rss</span></a></li>
	<li class="menu-gift"><a href="#"><span>Gift</span><i>8</i></a></li>
	<li class="menu-facebook"><a href="connect.html"><span>Facebook</span></a></li>
	<li class="menu-world"><a href="#"><span>World</span></a></li>
	<li class="menu-setting"><a href="manage.html"><span>Setting</span></a></li>
</ul>	