<!DOCTYPE html><html>
<head>	
	<script src="http://www.w3schools.com/lib/w3data.js"></script>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
	 <meta name="viewport" content="width=device-width,initial-scale=1.0">
	 <link id="stylesheet-bootstrap.min" href="css/bootstrap.min.css" rel="stylesheet">
	 <link id="stylesheet-style" href="css/style.css" rel="stylesheet">
	 <script src="js/jquery.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/js.js"></script>
	 <script src="js/bootstrap.min.js"></script>							
	<meta name="keywords" content="">
	<meta name="description" content="">
</head>
<body> 
	<div id="mySidenav" class="left-sidebar">

	    <span style="font-size:30px;cursor:pointer" class="openbtn" onclick="openNav()">&#9776; open</span>
		 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div class="left-sidebar-content">
			<div class="dashboard-full">	
				<div w3-include-html="include/left-menu.html"></div> 
				<script>w3IncludeHTML();</script>	
			</div>	
		</div>	
	
	</div>
	
	<div   id="main" class="facebook-wrap"> 
		<section class="section-header section-header-manage"> 
			<div class="container"> 
				<div class="row"> 
					<div class="col-md-6 col-sm-12  "> 
						<div class="title-manage">
							<span class="icon-manage">Quản lý chung </span>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bạn còn   <i>9</i>   ngày dùng thử miễn phí!
						</div> 	
					</div> 
					<div class="col-md-6 col-sm-12  align-right"> 
						<div class="header-manage-right-icon">
							<a class="search" href="">Search</a>
							<span class="icon-manage-notice"><i>5</i>Notice</span>
						</div>
						<div class="select-system">
							<span class="click-submenu1"><label><strong class="manage-name-user">TEE TEE</strong> Demo Shop</label></span>
								<div class="list-system">
									<ul class="">
										<li class="item1"><a href=""><img alt="" src="images/icon29.png" /> Tài khoản của bạn</a></li>
										<li class="item2"><a href=""><img alt="" src="images/icon30.png" />Hướng dẫn</a></li>
										<li class="item3"><a href=""><img alt="" src="images/icon31.png" />Điều khoản dịch vụ</a></li>
										<li class="item4"><a href=""><img alt="" src="images/icon32.png" />Chính sách bảo mật</a></li>
										<li class="item5"><a href=""><img alt="" src="images/icon33.png" />Thoát tài khoản</a></li>
									</ul>	
								</div>	
							<img alt="" src="images/avatar11.png" />	
						</div>
					</div> 
				</div> 
			</div> 
		</section> 
		<section class="section section-connect">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 center">
						<br /><br />
						<img alt="" src="images/img4.jpg" />	
						<h1>Kết nối với tài khoản Facebook của bạn</h1><br />
						<p><a class="button button-connect" href="#">Kết nối với Facebook</a></p><br />
						<p>Chúng tôi cần kết nối với tài khoản Facebook của bạn để đồng bộ dữ liệu quản lý của hàng trên Facebook.</p>
					 </div>
					 
				</div>
			</div>
		 </section>
		<section class="section section-footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						Copyright  Website500k 2017. All rights reserved.
					</div> 
					<div class="col-sm-6 align-right">
						
					<a class="atachment popover-tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="Góp ý với ban quản trị">Góp ý &nbsp; &nbsp;<img alt="" src="images/icon28.png" /></a>
					</div> 
				</div>
			</div>
		 </section>		
	</div>
</body>
</html>