<!DOCTYPE html><html>
<head>	
	<script src="http://www.w3schools.com/lib/w3data.js"></script>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link id="stylesheet-bootstrap.min" href="css/bootstrap.min.css" rel="stylesheet">
	<link id="stylesheet-style" href="css/style.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/js.js"></script>
	<script src="js/bootstrap.min.js"></script>	


	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"
	integrity="sha256-WPeFPWD3PZQUDrpFnDM1N2KadNVwCfNS4cCZ78b76T8="
	crossorigin="anonymous"></script>	
	<meta name="keywords" content="">
	<meta name="description" content="">
</head>
<body class="page-profile" > 

	<div id="vue-region">
		<div id="mySidenav" class="left-sidebar">

			<span style="font-size:30px;cursor:pointer" class="openbtn" onclick="openNav()">&#9776; open</span>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div class="left-sidebar-content">
				<div class="dashboard-full">	
					<ul class="">
						<li class="menu-profile submenu">
							<a  href="#"><span>Profile Module</span><i class="has-submenu" href="#"></i></a>
							<ul>
								<li><a class="scan-post" href="#" v-on:click="fnSelect">Scan Post</a></li>
								<li><a class="scan-friend" href="#" v-on:click="fnSelect">Scan Friend</a></li>
								<li><a class="search-page" href="#" v-on:click="fnSelect">Find Page/Group</a></li>
								<li><a class="post" href="#" v-on:click="fnSelect">Post to Newsfeed/Group</a></li>
								<li><a class="newsfeed" href="#" v-on:click="fnSelect">Interact Newsfeed</a></li>
								<li><a class="post-friend" href="#" v-on:click="fnSelect">Post to Friend Wall</a></li>
								<li><a class="edit-friend" href="#" v-on:click="fnSelect">Add/Remove Friend</a></li>
							</ul>
						</li>
						<li class="menu-page ">
							<a   href="#"><span>Page Module</span></a>
						</li>
						<li class="menu-group"><a href="#"><span>Group Module</span></a></li>
						<li class="menu-ads"><a href="#"><span>Ad Module</span></a></li>
					</ul>	
				</div>	
			</div>	
		</div>

		<div id="main" class="facebook-wrap"> 
			<section class="section-header"> 
				<div class="container"> 
					<div class="row"> 
						<div class="col-md-9 col-sm-12 "> 
							<div class=" title center"> 
								<span><img alt="" src="images/title-facebook.png" />FACEBOOK STORE MANAGER</span>
							</div> 
						</div> 
						<div class="col-md-3 col-sm-12  align-right"> 
							<div class="select-system"> 		
								<span class="click-submenu1">Apple</span>
								<div class="list-system">
									<ul class="">
										<li class="item1"><a href=""><img alt="" src="images/icon29.png" />Tài khoản của bạn</a></li>
										<li class="item2"><a href=""><img alt="" src="images/icon30.png" />Hướng dẫn</a></li>
										<li class="item3"><a href=""><img alt="" src="images/icon31.png" />Điều khoản dịch vụ</a></li>
										<li class="item4"><a href=""><img alt="" src="images/icon32.png" />Chính sách bảo mật</a></li>
										<li class="item5"><a href=""><img alt="" src="images/icon33.png" />Thoát tài khoản</a></li>
									</ul>	
								</div>	
								<img alt="" src="images/icon-apple.png" />	
							</div>	 

						</div> 
					</div> 
				</div> 
			</section> 
			<section class="section section-profile" >
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="main-content" >	
								<div class="content-bar">
									<div id="scan-post" class="fn">
										<br /><br />
										<h2>Scan Post</h2>
										<div class="input">
											<label>ID</label>
											<input type="text" class="text">
											<input type="button" class="trigger" value="Scan Post" onclick="main_vue.scanPost()">
										</div>

										<div class="output">
											<h4 class="card-title">Kết quả tìm được</h4>
											<h6 class="card-subtitle">Bạn có thể lọc, sắp xếp, tìm kiếm và download file CSV, Excel, PDF & In ấn...</h6>
											<div class="table-responsive m-t-40">
												<div id="example23_wrapper" class="dataTables_wrapper">
													<div class="dt-buttons col-md-6"><a onclick="xport.copyTable('reaction-tbl')" class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Copy</span></a><a onclick="main_vue.downloadFile('scan-post-react', 'CSV')" class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>CSV</span></a><a onclick="main_vue.downloadFile('scan-post-react', 'XLS')" class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Excel</span></a><a onclick="xport.printTable('reaction-tbl')" class="dt-button buttons-print" tabindex="0" aria-controls="example23" href="#"><span>Print</span></a></div>

													<div id="example23_filter" class="dataTables_filter col-md-6 align-right"><label>Search:<input class="" placeholder="" aria-controls="example23" type="search"></label></div>
												</div>
											</div>
											<div class="table">										
												<table id="reaction-tbl" >
													<thead>
														<tr>
															<th class="sorting">ID<i></i></th>
															<th class="sorting_asc">Name</th>
															<th class="sorting_desc">Type</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
													</tbody>
												</table>
											</div>
											<br /><br />
											<div id="example23_wrapper" class="dataTables_wrapper">
												<div class="dt-buttons col-md-6"><a onclick="xport.copyTable('comment-tbl')" class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Copy</span></a><a onclick="main_vue.downloadFile('scan-post-cmt', 'CSV')" class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>CSV</span></a><a onclick="main_vue.downloadFile('scan-post-cmt', 'XLS')" class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Excel</span></a><a onclick="xport.printTable('comment-tbl')" class="dt-button buttons-print" tabindex="0" aria-controls="example23" href="#"><span>Print</span></a></div>

												<div id="example23_filter" class="dataTables_filter col-md-6 align-right"><label>Search:<input class="" placeholder="" aria-controls="example23" type="search"></label></div>
											</div>
											<div class="table">
												<table id="comment-tbl">
													<thead>
														<tr>
															<th class="sorting">ID<i></i></th>
															<th class="sorting_asc">Name</th>
															<th class="sorting_desc">Type</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
													</tbody>
												</table>
											</div>

										</div>
									</div>
									<br /><br />
									<div id="scan-friend" class="fn">
										<h2>Scan Friend List</h2>
										<div class="input">
											<input type="button" class="trigger" value="Scan" onclick="main_vue.scanFriend()">
										</div>

										<div class="output">
											<h4 class="card-title">Kết quả tìm được</h4>
											<h6 class="card-subtitle">Bạn có thể lọc, sắp xếp, tìm kiếm và download file CSV, Excel, PDF & In ấn...</h6>
											<div class="table-responsive m-t-40 container">
												<div id="example23_wrapper" class="dataTables_wrapper row">
													<div class="dt-buttons col-md-6"><a onclick="xport.copyTable('friend-tbl')" class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Copy</span></a><a onclick="main_vue.downloadFile('scan-friend', 'CSV')" class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>CSV</span></a><a onclick="main_vue.downloadFile('scan-friend', 'XLS')" class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Excel</span></a><a onclick="xport.printTable('friend-tbl')" class="dt-button buttons-print" tabindex="0" aria-controls="example23" href="#"><span>Print</span></a></div>

													<div id="example23_filter" class="dataTables_filter col-md-6 align-right"><label>Search:<input class="" placeholder="" aria-controls="example23" type="search"></label></div>
												</div>
											</div>
											<div class="table">			
												<table id="friend-tbl">
													<thead>
														<tr>
															<th class="sorting">ID<i></i></th>
															<th class="sorting_asc">Name</th>
															<th class="sorting_desc">Link</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name 1</td>
															<td>Type 2</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div id="search-page" class="fn">
										<h2>Search by ID</h2>
										<label>Keyword</label>

										<div class="input">
											<input type="text" class="text">
											<input type="radio" class="radio" name="search-type" value="Page">Page
											<input type="radio" class="radio" name="search-type" value="Group">Group
											<input type="button" class="trigger" value="Search" onclick="main_vue.search()">
										</div>
										<div class="output">
											<h4 class="card-title">Kết quả tìm được</h4>
											<h6 class="card-subtitle">Bạn có thể lọc, sắp xếp, tìm kiếm và download file CSV, Excel, PDF & In ấn...</h6>
											<div class="table-responsive m-t-40 container">
												<div id="example23_wrapper" class="dataTables_wrapper row">
													<div class="dt-buttons col-md-6"><a onclick="xport.copyTable('search-tbl')" class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Copy</span></a><a onclick="main_vue.downloadFile('search-page', 'CSV')" class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>CSV</span></a><a onclick="main_vue.downloadFile('search-page', 'XLS')" class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Excel</span></a><a onclick="xport.printTable('search-tbl')" class="dt-button buttons-print" tabindex="0" aria-controls="example23" href="#"><span>Print</span></a></div>

													<div id="example23_filter" class="dataTables_filter col-md-6 align-right"><label>Search:<input class="" placeholder="" aria-controls="example23" type="search"></label></div>
												</div>
											</div>
											<div class="table">			
												<table id="search-tbl">
													<thead>
														<tr>
															<th class="sorting">ID<i></i></th>
															<th class="sorting_asc">Name</th>
															<th class="sorting_desc">Link</th>
															<th class="sorting">Link</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>ID1</td>
															<td>Name </td>
															<td>Link</td>
															<td>Like</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name </td>
															<td>Link</td>
															<td>Like</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name </td>
															<td>Link</td>
															<td>Like</td>
														</tr>
														<tr>
															<td>ID1</td>
															<td>Name </td>
															<td>Link</td>
															<td>Like</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div id="post" class="fn">
										<h2>Post to Profile/Group</h2>

										<div class="input">
											<label>Message</label>
											<input type="text" class="text">

											<input type="radio" name="link-type" value="Link">Link
											<input type="text" class="text">
											<input type="radio" name="link-type" value="Opencart">OpenCart
											<select>
												<option>abc</option>
												<option>def</option>
											</select>
											<br /><br />
											<input type="radio" class="radio" name="post-type" value="Profile">Profile
											<input type="radio" class="radio" name="post-type" value="Group">Group<input type="text" class="text"/>
											<label>Wait Time (group only)</label>
											<input type="text" class="text">
											<input type="button" class="trigger" value="Post" onclick="main_vue.post()">
										</div>

										<div class="output">
											<h4 class="card-title">Kết quả tìm được</h4>
											<h6 class="card-subtitle">Bạn có thể lọc, sắp xếp, tìm kiếm và download file CSV, Excel, PDF & In ấn...</h6>
											<div class="table-responsive m-t-40 container">
												<div id="example23_wrapper" class="dataTables_wrapper row">
													<div class="dt-buttons col-md-6"><a onclick="xport.copyTable('post-tbl')" class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Copy</span></a><a onclick="main_vue.downloadFile('post', 'CSV')" class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>CSV</span></a><a onclick="main_vue.downloadFile('post', 'XLS')" class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Excel</span></a><a onclick="xport.printTable('post-tbl')" class="dt-button buttons-print" tabindex="0" aria-controls="example23" href="#"><span>Print</span></a></div>

													<div id="example23_filter" class="dataTables_filter col-md-6 align-right"><label>Search:<input class="" placeholder="" aria-controls="example23" type="search"></label></div>
												</div>
											</div>
											<div class="table">			
												<table id="post-tbl">
													<thead>
														<tr>
															<th class="sorting">ID</th>
														</tr>
													</thead>
													<tbody></tbody>
												</table>
											</div>
										</div>
									</div>

									<div id="newsfeed" class="fn">
										<h2>Interact with Newsfeed</h2>

										<div class="input">
											<label>Reaction Type</label>
											<select>
												<option>Like</option>
												<option>Love</option>
												<option>Haha</option>
												<option>Wow</option>
												<option>Sad</option>
												<option>Angry</option>
											</select>
											<label>Wait Time </label>
											<input type="text" class="text">
											<input type="button" class="trigger" value="Interact" onclick="main_vue.interactFeed()">
										</div>

										<div class="output">
											<h4 class="card-title">Kết quả tìm được</h4>
											<h6 class="card-subtitle">Bạn có thể lọc, sắp xếp, tìm kiếm và download file CSV, Excel, PDF & In ấn...</h6>
											<div class="table-responsive m-t-40 container">
												<div id="example23_wrapper" class="dataTables_wrapper row">
													<div class="dt-buttons col-md-6"><a onclick="xport.copyTable('newsfeed-tbl')" class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Copy</span></a><a onclick="main_vue.downloadFile('newsfeed', 'CSV')" class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>CSV</span></a><a onclick="main_vue.downloadFile('newsfeed', 'XLS')" class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Excel</span></a><a onclick="xport.printTable('newsfeed-tbl')" class="dt-button buttons-print" tabindex="0" aria-controls="example23" href="#"><span>Print</span></a></div>

													<div id="example23_filter" class="dataTables_filter col-md-6 align-right"><label>Search:<input class="" placeholder="" aria-controls="example23" type="search"></label></div>
												</div>
											</div>
											<table id="newsfeed-tbl">
												<thead>
													<tr>
														<th  class="sorting">ID</th>
														<th  class="sorting">Link</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>

									</div>

									<div id="post-friend" class="fn">
										<h2>Post to Friend Wall</h2>

										<div class="input">
											<label>ID List</label>
											<textarea type="text" class="text" style="width: 200px; height: 300px; overflow: auto"></textarea>
											<label>Content</label>
											<textarea type="text" class="text" style="width: 200px; height: 300px; overflow: auto"></textarea>
											<label>Wait Time</label>	
											<input type="text" class="text">
											<input type="button" class="trigger" value="Post" onclick="main_vue.postFriend()">
										</div>

										<div class="output">
											<h4 class="card-title">Kết quả tìm được</h4>
											<h6 class="card-subtitle">Bạn có thể lọc, sắp xếp, tìm kiếm và download file CSV, Excel, PDF & In ấn...</h6>
											<div class="table-responsive m-t-40 container">
												<div id="example23_wrapper" class="dataTables_wrapper row">
													<div class="dt-buttons col-md-6"><a onclick="xport.copyTable('post-friend-tbl')" class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Copy</span></a><a onclick="main_vue.downloadFile('post-friend', 'CSV')" class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>CSV</span></a><a onclick="main_vue.downloadFile('post-friend', 'XLS')" class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Excel</span></a><a onclick="xport.printTable('post-friend-tbl')" class="dt-button buttons-print" tabindex="0" aria-controls="example23" href="#"><span>Print</span></a></div>

													<div id="example23_filter" class="dataTables_filter col-md-6 align-right"><label>Search:<input class="" placeholder="" aria-controls="example23" type="search"></label></div>
												</div>
											</div>
											<div class="table">			
												<table id="post-friend-tbl">
													<thead>
														<tr>
															<th  class="sorting">ID</th>
															<th  class="sorting">Link</th>
														</tr>
													</thead>
													<tbody></tbody>
												</table>
											</div>
										</div>

									</div>


									<div id="edit-friend" class="fn">
										<h2>Add or Remove Friend</h2>

										<div class="input">
											<label>ID List</label>
											<textarea type="text" class="text" style="width: 200px; height: 300px; overflow: auto"></textarea>
											<input class="radio" type="radio" name="edit-type" value="AddFriend">AddFriend
											<input class="radio" type="radio" name="edit-type" value="Unfriend">Unfriend
											<input type="button" class="trigger" value="Start" onclick="main_vue.editFriend()">
										</div>

										<div class="output">
											<h4 class="card-title">Kết quả tìm được</h4>
											<h6 class="card-subtitle">Bạn có thể lọc, sắp xếp, tìm kiếm và download file CSV, Excel, PDF & In ấn...</h6>
											<div class="table-responsive m-t-40 container">
												<div id="example23_wrapper" class="dataTables_wrapper row">
													<div class="dt-buttons col-md-6"><a onclick="xport.copyTable('edit-friend-tbl')" class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Copy</span></a><a onclick="main_vue.downloadFile('edit-friend', 'CSV')" class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>CSV</span></a><a onclick="main_vue.downloadFile('edit-friend', 'XLS')" class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example23" href="#"><span>Excel</span></a><a onclick="xport.printTable('edit-friend-tbl')" class="dt-button buttons-print" tabindex="0" aria-controls="example23" href="#"><span>Print</span></a></div>

													<div id="example23_filter" class="dataTables_filter col-md-6 align-right"><label>Search:<input class="" placeholder="" aria-controls="example23" type="search"></label></div>
												</div>
											</div>
											<div class="table">	
												<table id="edit-friend-tbl">
													<thead>
														<tr>
															<th class="sorting">ID</th>
															<th class="sorting">Link</th>
														</tr>
													</thead>
													<tbody></tbody>
												</table>
											</div>
										</div>

									</div>

								</div>


							</div>
						</div>

					</div>
				</div>
			</section>
			<section class="section section-footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							Copyright  Website500k 2017. All rights reserved.
						</div> 
						<div class="col-sm-6 align-right">

							<a class="atachment popover-tooltip" href="#" data-toggle="tooltip" data-placement="bottom" title="Góp ý với ban quản trị">Góp ý &nbsp; &nbsp;<img alt="" src="images/icon28.png" /></a>
						</div> 
					</div>
				</div>
			</section>		
		</div>
	</div>

	<script>
		let main_vue = new Vue({

			el : '#vue-region',

			data : {
				log_scanPost : [],
				log_search : [],
				log_post : [],
				log_scanFriend : [],
			},

			methods : {
				fnSelect : function(e) {
					$('.fn').hide();
					if (e.srcElement) $('#'+e.srcElement.className).show();
					if (e.originalTarget) $('#'+e.originalTarget.className).show();
				},
				scanPost : function() {
					socket.emit('ngin-scanPost', $('#scan-post input.text').val(), res => {
						if (res.error) {
							console.log(res.error);
							$('.status-bar').text('Có lỗi xảy ra vì request không hợp lệ').css('visibility', 'visible');
							setTimeout(() => { $('.status-bar').css('visibility', 'hidden'); }, 5000);

						} else {
							let reaction = res.reactions.data;
							let comment = res.comments.data;
							let tbody_reaction = '';
							let tbody_comment = '';
							for (var i in reaction) {
								tbody_reaction += '<tr><td>' + reaction[i].id + '</td><td>' + reaction[i].name + '</td><td>' + reaction[i].type + '</td></tr>';
							}
							for (var j in comment) {
								tbody_comment += '<tr><td>' + comment[j].from.id + '</td><td>' + comment[j].from.name + '</td><td>' + comment[j].message + '</td></tr>';
							}

							$('#scan-post #reaction-tbl tbody').html(tbody_reaction);
							$('#scan-post #comment-tbl tbody').html(tbody_comment);
						}
						console.log('scan post OK');
					});
				},
				scanFriend : function() {
					socket.emit('ngin-scanFriend', {
						id: 'zhuylanz20@gmail.com',
						pass: 'iamarobot'
					},
					res => {
						let tbody = '';
						for (var i in res) {
							tbody += '<tr><td>' + res[i][0] + '</td><td>' + res[i][1] + '</td><td>' + res[i][2] + '</td></tr>';
						}
						$('#scan-friend tbody').html(tbody);
						console.log('scan friend OK');
					});
				},
				search : function() {
					if ($('#search-page input.radio').eq(1).is(':checked')) {
						socket.emit('ngin-searchGroup', $('#search-page input.text').val(), res => {
							let tbody = '';
							res = res.data;
							for (var i in res) {
								var link = 'https://facebook.com/' + res[i].id;

								tbody += '<tr><td>' + res[i].id + '</td><td>' + res[i].name + '</td><td><a target="_blank" href="'+link+'">' + link + '</a></td></tr>';
							}
							$('#search-page th').eq(3).hide();
							$('#search-page tbody').html(tbody);
							console.log('search group OK');
						});
					} else {
						socket.emit('ngin-searchPage', $('#search-page input.text').val(), res => {
							let tbody = '';
							res = res.data;
							for (var i in res) {
								tbody += '<tr><td>' + res[i].id + '</td><td>' + res[i].name + '</td><td><a target="_blank" href="'+res[i].link+'">' + res[i].link + '</a></td><td>' + res[i].fan_count + '</td></tr>';
							}
							$('#search-page th').eq(3).show();
							$('#search-page tbody').html(tbody);

							console.log('search page OK');
						});
					}
				},
				post : function() {
					if ($('#post input.radio').eq(1).is(':checked')) {
						socket.emit('ngin-postGroup', {
							message: $('#post input.text').eq(0).val(),
							link: $('#post input.text').eq(1).val(),
							gid: $('#post input.text').eq(2).val(),
							wait_time: $('#post input.text').eq(3).val()
						}, res => {
							console.log('post group OK');
							socket.removeListener('logging', logging);
						});
						function logging(msg) {
							console.log('logging');
							let tbody = '';
							for (var i in msg) {
								tbody += '<tr><td>' + msg[i].id + '</td></tr>';
							}
							$('#post tbody').html(tbody);
						}
						socket.on('logging', logging);
					} else {
						socket.emit('ngin-postProfile', {
							message: $('#post input.text').eq(0).val(),
							link: $('#post input.text').eq(1).val()
						}, res => {
							let tbody = '';
							tbody += '<tr><td>' + res.id + '</td></tr>'
							$('#post tbody').html(tbody);
							console.log('post profile OK');
						});
					}
				},
				interactFeed : function() {
					socket.emit('ngin-interactFeed', {
						uid: 'xxxxx',
						reaction_type: $('#newsfeed select').val(),
						wait_time: $('#newsfeed input.text').val()
					}, res => {
						console.log(res);
						let tbody = '';
						for (var i in res) {
							let link = 'https://facebook.com/' + res[i];
							tbody += '<tr><td>' + res[i] + '</td><td><a target="_blank" href="'+ link +'">' + link + '</a></td></tr>';
						}
						$('#newsfeed tbody').html(tbody);
						console.log('interact feed OK');
					});
				},
				postFriend : function() {
					socket.emit('ngin-postFriend', {
						uid: 'xxxxx',
						id_list: $('#post-friend textarea').eq(0).val(),
						content: $('#post-friend textarea').eq(1).val(),
						wait_time: $('#post-friend input.text').val()
					}, res => {
						console.log(res);
						res = res.id_list;
						let tbody = '';
						for (var i in res) {
							let link = 'https://facebook.com/' + res[i];
							tbody += '<tr><td>' + res[i] + '</td><td><a target="_blank" href="'+ link +'">' + link + '</a></td></tr>';
						}
						$('#post-friend tbody').html(tbody);
						console.log('post friend OK');
					});
				},
				editFriend : function() {
					if ($('#edit-friend input.radio').eq(1).is(':checked')) {
						socket.emit('ngin-unFriend', {
							id_list: $('#edit-friend textarea').eq(0).val()
						}, res => {
							console.log(res);
							res = res.id_list;
							let tbody = '';
							for (var i in res) {
								let link = 'https://facebook.com/' + res[i];
								tbody += '<tr><td>' + res[i] + '</td><td><a target="_blank" href="'+ link +'">' + link + '</a></td></tr>';
							}
							$('#edit-friend tbody').html(tbody);
							console.log('unfriend OK');
						});
						
					} else {
						socket.emit('ngin-addFriend', {
							id_list: $('#edit-friend textarea').eq(0).val()
						}, res => {
							console.log(res);
							res = res.id_list;
							let tbody = '';
							for (var i in res) {
								let link = 'https://facebook.com/' + res[i];
								tbody += '<tr><td>' + res[i] + '</td><td><a target="_blank" href="'+ link +'">' + link + '</a></td></tr>';
							}
							$('#edit-friend tbody').html(tbody);
							console.log('addfriend OK');
						});
					}
				},
				downloadFile : function(ngin, type) {
					switch (ngin) {
						case 'scan-post-react':
						if (type == 'CSV') {
							xport.toCSV('reaction-tbl');
						} else if (type == 'XLS') {
							xport.toXLS('reaction-tbl');
						}
						break;

						case 'scan-post-cmt':
						if (type == 'CSV') {
							xport.toCSV('comment-tbl');
						} else if (type == 'XLS') {
							xport.toCSV('comment-tbl');
						}
						break;

						case 'scan-friend':
						if (type == 'CSV') {
							xport.toCSV('friend-tbl');
						} else if (type == 'XLS') {
							xport.toXLS('friend-tbl');
						}
						break;

						case 'search-page':
						if (type == 'CSV') {
							xport.toCSV('search-tbl');
						} else if (type == 'XLS') {
							xport.toXLS('search-tbl');
						}
						break;

						case 'post':
						if (type == 'CSV') {
							xport.toCSV('post-tbl');
						} else if (type == 'XLS') {
							xport.toXLS('post-tbl');
						}
						break;
					}
				}

			}
		});

let token = 'EAACZC6awggg0BAKGtQskNHlVqViZAgGcMSJ9ZAn7Ds4OKzA8EIdZBzmUgWaP2rFuFqTED9r3ZCt6Sxx3TN753SE8rTZAzVDkfmYbqaTyCc0iIZA71qUCahOYWukUVN9wMreZBtvZCcZBOqGKqfRoTTWYHfqheZCm9CEjkUZD';

let socket = io('http://nuhula.website:7002/profile');
socket.on('connect', function () {
	socket.emit('init', token, (res) => { console.log(res); });
});

let xport = {
	_fallbacktoCSV: true,  
	toXLS: function(tableId, filename) {   
		this._filename = (typeof filename == 'undefined') ? tableId : filename;

		if ((this._getMsieVersion() || this._isFirefox()) && this._fallbacktoCSV) {
			return this.toCSV(tableId);
		} else if (this._getMsieVersion() || this._isFirefox()) {
			alert("Not supported browser");
		}

		var htmltable = document.getElementById(tableId);
		var html = htmltable.outerHTML;

		this._downloadAnchor("data:application/vnd.ms-excel" + encodeURIComponent(html), 'xls'); 
	},
	toCSV: function(tableId, filename) {
		this._filename = (typeof filename === 'undefined') ? tableId : filename;
		var csv = this._tableToCSV(document.getElementById(tableId));
		var blob = new Blob([csv], { type: "text/csv" });

		if (navigator.msSaveOrOpenBlob) {
			navigator.msSaveOrOpenBlob(blob, this._filename + ".csv");
		} else {      
			this._downloadAnchor(URL.createObjectURL(blob), 'csv');      
		}
	},
	_getMsieVersion: function() {
		var ua = window.navigator.userAgent;

		var msie = ua.indexOf("MSIE ");
		if (msie > 0) {
			return parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)), 10);
		}

		var trident = ua.indexOf("Trident/");
		if (trident > 0) {
			var rv = ua.indexOf("rv:");
			return parseInt(ua.substring(rv + 3, ua.indexOf(".", rv)), 10);
		}

		var edge = ua.indexOf("Edge/");
		if (edge > 0) {
			return parseInt(ua.substring(edge + 5, ua.indexOf(".", edge)), 10);
		}

		return false;
	},
	_isFirefox: function(){
		if (navigator.userAgent.indexOf("Firefox") > 0) {
			return 1;
		}

		return 0;
	},
	_downloadAnchor: function(content, ext) {
		var anchor = document.createElement("a");
		anchor.style = "display:none !important";
		anchor.id = "downloadanchor";
		document.body.appendChild(anchor);


		if ("download" in anchor) {
			anchor.download = this._filename + "." + ext;
		}
		anchor.href = content;
		anchor.click();
		anchor.remove();
	},
	_tableToCSV: function(table) {
		var slice = Array.prototype.slice;

		return slice
		.call(table.rows)
		.map(function(row) {
			return slice
			.call(row.cells)
			.map(function(cell) {
				return '"t"'.replace("t", cell.textContent);
			})
			.join(",");
		})
		.join("\r\n");
	},
	printTable: function(tableId) {
		console.log('working')
		var divToPrint = document.getElementById(tableId);
		newWin = window.open("");
		newWin.document.write(divToPrint.outerHTML);
		newWin.print();
		newWin.close();
	},
	copyTable: function(tableId) {
		if (document.selection) {
			var range = document.body.createTextRange();
			range.moveToElementText(document.getElementById(tableId));
			range.select();
			document.execCommand("Copy");
		} else if (window.getSelection) {
			var range = document.createRange();
			range.selectNode(document.getElementById(tableId));
			window.getSelection().removeAllRanges();
			window.getSelection().addRange(range);
			document.execCommand("Copy");
		}
	}
};

</script>

</body>
</html>